In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
#import ipywidgets as widgets

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2020-08-17 15:39:51,73.51,80.55,51.75,94,50,8.68
1,1,Punta Arenas,CL,2020-08-17 15:38:06,-53.15,-70.92,35.60,93,75,21.92
2,2,Guanare,VE,2020-08-17 15:39:52,9.04,-69.74,85.62,75,68,3.02
3,3,Hithadhoo,MV,2020-08-17 15:39:52,-0.60,73.08,84.49,71,86,6.55
4,4,Esperance,AU,2020-08-17 15:39:52,-33.87,121.90,46.40,81,57,19.46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#using list comprehantion: [max(temp, 0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#import ipywidgets as widgets
#widgets.IntSlider()

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hithadhoo,MV,2020-08-17 15:39:52,-0.60,73.08,84.49,71,86,6.55
8,8,Banda Aceh,ID,2020-08-17 15:39:54,5.56,95.32,80.38,81,21,9.62
9,9,Chaozhou,CN,2020-08-17 15:39:54,23.67,116.64,82.40,74,40,8.95
13,13,Guerrero Negro,MX,2020-08-17 15:39:56,27.98,-114.06,78.53,59,64,9.48
16,16,Biak,ID,2020-08-17 15:39:56,-0.91,122.88,75.18,70,100,8.12
20,20,Rumonge,BI,2020-08-17 15:39:58,-3.97,29.44,78.67,48,59,3.44
22,22,Ponta Do Sol,PT,2020-08-17 15:39:58,32.67,-17.10,80.60,65,20,18.34
27,27,Albany,US,2020-08-17 15:40:00,42.60,-73.97,75.99,68,54,3.18
28,28,Ugoofaaru,MV,2020-08-17 15:40:00,5.67,73.00,83.01,71,43,3.38
29,29,Lata,PT,2020-08-17 15:40:00,40.16,-8.33,84.99,53,73,13.06

In [13]:
preferred_cities_df.count()

City_ID       202
City          202
Country       199
Date          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
dtype: int64

In [14]:
preferred_cities_df = preferred_cities_df.dropna(how = 'any')

In [15]:
preferred_cities_df.count()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
3        Hithadhoo      MV     84.49  -0.60   73.08
8       Banda Aceh      ID     80.38   5.56   95.32
9         Chaozhou      CN     82.40  23.67  116.64
13  Guerrero Negro      MX     78.53  27.98 -114.06
16            Biak      ID     75.18  -0.91  122.88
20         Rumonge      BI     78.67  -3.97   29.44
22    Ponta Do Sol      PT     80.60  32.67  -17.10
27          Albany      US     75.99  42.60  -73.97
28       Ugoofaaru      MV     83.01   5.67   73.00
29            Lata      PT     84.99  40.16   -8.33

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hithadhoo,MV,84.49,-0.60,73.08,Scoop Guest House
8,Banda Aceh,ID,80.38,5.56,95.32,OYO 884 Rumoh PMI Hotel
9,Chaozhou,CN,82.40,23.67,116.64,Seven Corner View Homestay
13,Guerrero Negro,MX,78.53,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
16,Biak,ID,75.18,-0.91,122.88,Kost Ariz
20,Rumonge,BI,78.67,-3.97,29.44,Iratiro Tours
22,Ponta Do Sol,PT,80.60,32.67,-17.10,Hotel do Campo
27,Albany,US,75.99,42.60,-73.97,
28,Ugoofaaru,MV,83.01,5.67,73.00,Ungoofaaru Inn
29,Lata,PT,84.99,40.16,-8.33,Casa Maquia
31,Saint-Augustin,CA,76.86,51.23,-58.65,
33,Atuona,PF,78.24,-9.80,-139.03,Villa Enata
39,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
41,Padang,ID,78.28,-0.95,100.35,Mercure Padang
42,Koping,SE,81.00,59.51,15.99,Best Western Hotel Scheele
43,Lianzhou,CN,77.11,24.78,112.38,Qingcheng Tourism Industry
45,Butaritari,KI,81.09,3.07,172.79,Isles Sunset Lodge
46,Kavaratti,IN,82.22,10.57,72.64,Bismillah Hotel And Lodging
66,Cabot,US,84.00,34.97,-92.02,Super 8 by Wyndham Cabot
81,Teluknaga,ID,80.01,-6.10,106.64,Bale Ocasa hotel

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city with markers.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))